input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ff0056;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('http://www.w3schools.com/howto/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: 250px 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 50%;
    outline-color: transparent;
    outline-style: none;
}

.box1{
  width: 200px;
  height:200px;
  background-color: blue;
  border-color: green;
  border-width: 5px;
  border-radius: 5px;
  border-style: solid;
}

button{

  padding: 8px 20px;
  margin: 0px auto 16px ;
  border-radius: 10px;
  outline-color: transparent;
  outline-style: none;
  font-family: sans-serif;
  font-weight: bold;
  font-kerning: auto;
  font: #ffffff;

}
